@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Bricolage Grotesque', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: antiquewhite;
  background-image: url("./assets/body-background.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  min-height: 100% !important;
  height: 100%;
}

/* Mark a ship in the Placement Menu */
.selected {
  outline: 5px double #00c6f8;
}

.selected-vertical {
  outline: 5px double orange;
}

/* Wave animation */

.wave {
  background: rgba(72, 196, 90, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 20vh;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.wave:nth-of-type(2) {
  background: rgba(144, 182, 197, 0.582);
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  background: rgba(7, 155, 118, 0.25);
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
    height: 16em;
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

/* Styles for backgrounds */
.bg-bamboo{
  background-image: url('./assets/bamboo.jpg');
}


/* Styles for border image */

.tree-border {
  border: 40px solid;
  border-image: url('./assets/border.png') 45 / 50px / 0 round;
}

.tree-border-2 {
  border: 20px solid;
  border-image: url('./assets/border.png') 45 / 50px / 23px round;
}

.box-border {
  border: 30px solid;
  border-image: url('./assets/box.jpg') 9 / 30px / 0px round;
}

.light-box-border {
  border: 10px solid transparent;
  border-image: url('./assets/box.jpg') 9 / 10px / 0px round;
  border-radius: 8px;
}

/* Arrow */

#left-triangle {
  width: 0;
  height: 0;
  border-right: 10px solid green;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

@media (min-width:640px) {
  #left-triangle {
    border-right: 20px solid green;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}